@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}

body{
    background-color: whitesmoke;
    padding: 0 20px;

}

header{
     max-width: 500px;
     margin: 0 auto;
}
.logo-wrap{
    padding-top: 20px;
    padding-bottom: 5px;
    color: rgb(140, 127, 255);
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}
.logo-wrap p{
    font-size: 20px;
    color: coral;
    padding: 2px 10px;
    border: 1px solid #0880e9;
    border-radius: 5px;

}
.logo-wrap p:active{
    background-color: rgb(0, 255, 0);

}
.todo-add *{
    background-color: transparent;
    text-shadow: 0  0 1px gray;
    font-size: 24px;
    outline: none;
    border: none;
    font-weight: lighter; 
}
.todo-add{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
}